<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de curso</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <navbar class="navbar"><h1>Somos a loja de venda de cursos. Vendemos cursos em promoção!</h1></navbar>
    {{{body}}}
    <footer><h3>Loja de venda de cursos. Todos os direitos reservados</h3></footer>
</body>
</html>